body{
    background-color:#f4f4f4;
    color:#555555;

    /*font-family: arial, helvetica, sans-serif;
    font-size: 16 px;
    font-weight: normal;*/

     /*same as above*/
    
     font: normal 16px arial, helvetica, sans-serif;

     line-height: 1.6em;
     /*line-height is the option to change the space between lines in a paragraph.  NOTE: you can use px or em but most recommended is em*/
     margin:0;
}

.container{
    width:500px;
    margin:auto;
}

.box-1{
    background-color:#333;
    color:#fff;

    /*border-top: 5px red solid;
    border-right: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;*/

    /*same as above*/

    border: 5px red solid;


}